!!! html5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{http_equiv: "X-UA-Compatible", content:"IE=edge,chrome=1"}
    %title= current_page.data.title

    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

    %script{src:"//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application'

    %link{href: "//fonts.googleapis.com/css?family=Cabin+Condensed:400,700", media: "screen", rel: "stylesheet"}
    %link{href: "//fonts.googleapis.com/css?family=Droid+Sans:400,700", media: "screen", rel: "stylesheet"}
    %link{href: "//fonts.googleapis.com/css?family=Droid+Sans+Mono", media: "screen", rel: "stylesheet"}
    %link{href: "//fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic", media: "screen", rel: "stylesheet"}
    %link{href: "https://scalingo.com/favicon.ico", rel: "shortcut icon", type: "image/vnd.microsoft.icon"}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  %body
    #wrapper
      #sidebar-wrapper
        - if current_page.data.menu
          = partial "menus/#{current_page.data.menu}"
        - else
          = partial "menus/main"

      .navbar.navbar-default.navbar-static-top{role: "navigation"}
        .container
          .navbar-header
            %button#menu-toggle.btn.btn-default.navbar-toggle
              %i.fa.fa-reorder
            %a.navbar-brand{href: "/"}Appsdeck Documentation
          .navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li
                %a= link_to "Getting started", "/first-steps"
              %li
                %a= link_to "Languages", "/languages"
              %li
                %a= link_to "Internals", "/internals"

      #page-content-wrapper
        = yield

      %footer

