%ul.sidebar-nav
  %li.sidebar-brand
    %a{href: "/"}
      = image_tag "avatar-tiny.png"
  %li
    %form.form-inline.search-field{role: "search"}
      .form-group
        .input-group
          .input-group-addon
            %i.fa.fa-search
          %input#st-search-input.form-control{type: "search", placeholder: "Search"}
  %li
    %h2 Getting Started
  %li= link_to "First steps on Scalingo", "/first-steps"
  %li
    %h2 Languages
  %li= link_to "Ruby", "/languages/ruby"
  %li= link_to "NodeJS", "/languages/javascript/nodejs"
  %li= link_to "PHP", "/languages/php"
  %li= link_to "Go", "/languages/go"
  %li= link_to "Python", "/languages/python"
  %li= link_to "Java", "/languages/java"
  %li= link_to "Scala", "/languages/scala"
  %li= link_to "Clojure", "/languages/clojure"
  %li= link_to "Haskell", "/languages/haskell"
  %li= link_to "Erlang", "/languages/erlang"
  %li= link_to "Grails", "/languages/groovy"
  %li
    %h2 Internals
  %li= link_to "Procfile", "/internals/procfile.html"
  %li= link_to "Container management", "/internals/container-management.html"
  %li= link_to "Errors", "/internals/errors"
