%ul.sidebar-nav
  %li.sidebar-brand
    %a{href: "/"}
      = image_tag "avatar-tiny.png"
  %li
    %h2 Getting Started
  %li= link_to "First steps on Appsdeck", "/first-steps"
  %li
    %h2 Languages
  %li= link_to "Ruby", "/languages/ruby"
  %li= link_to "NodeJS", "/languages/nodejs"
  %li= link_to "PHP", "/languages/php"
  %li= link_to "Go", "/languages/go"
  %li= link_to "Python", "/languages/python"
  %li
    %h2 Internal
  %li= link_to "Errors", "/internals/errors"
