---
title: Buildpacks
date: 24/09/2014
tag: buildpacks, build, image
category: internals
---

:markdown
  # Buildpacks

  When you want to deploy your application on Appsdeck, it needs to be build as
  a portable container image. This image will be loaded by our servers to run
  and scale your app.

  A buildpack is a set of scripts which aims at:

  * Detecting the language of an application `detect`
  * Installing the dependencies of a project `compile`
  * Defining how the application should be started `release`

  # Buidpacks included on Appsdeck

%ul
  %li
    %code Ruby
    —
    = link_to "Documentation", "/languages/ruby"
    —
    = link_to "Source", "https://github.com/Appsdeck/heroku-buildpack-ruby"
  %li
    %code Node.js / Meteor
    —
    = link_to "Documentation", "/languages/nodejs"
    —
    = link_to "Source", "https://github.com/Appsdeck/appsdeck-buildpack-nodejs"
  %li
    %code PHP
    —
    = link_to "Documentation", "/languages/php"
    —
    = link_to "Source", "https://github.com/Appsdeck/appsdeck-buildpack-php"
  %li
    %code Java
  %li
    %code Python
  %li
    %code Go
  %li
    %code Scala
  %li
    %code Erlang
  %li
    %code Haskell
  %li
    %code Clojure
  %li
    %code Grails Framework
  %li
    %code Play Framework

