---
title: Buildpacks
date: 04/01/2015
tag: buildpacks, build, image
category: internals
---

:markdown
  # Buildpacks

  When you want to deploy your application on Appsdeck, it needs to be build as
  a portable container image. This image will be loaded by our servers to run
  and scale your app.

  A buildpack is a set of scripts which aims at:

  * Detecting the language of an application `detect`
  * Installing the dependencies of a project `compile`
  * Defining how the application should be started `release`

  # Buidpacks included on Appsdeck

%ul
  %li
    %code Ruby
    —
    = link_to "Documentation", "/languages/ruby"
    —
    = link_to "Source", "https://github.com/Scalingo/heroku-buildpack-ruby"
  %li
    %code Node.js / Meteor
    —
    = link_to "Documentation", "/languages/nodejs"
    —
    = link_to "Source", "https://github.com/Scalingo/appsdeck-buildpack-nodejs"
  %li
    %code PHP
    —
    = link_to "Documentation", "/languages/php"
    —
    = link_to "Source", "https://github.com/Scalingo/appsdeck-buildpack-php"
  %li
    %code Java
  %li
    %code Python
  %li
    %code Go
  %li
    %code Scala
  %li
    %code Erlang
  %li
    %code Haskell
  %li
    %code Clojure
  %li
    %code Grails Framework
  %li
    %code Play Framework

:markdown
  # Use a custom buildpack

  We want our users to be able to use the technologies they love, we try to provide the support for
  an extended range of languages and frameworks, but if we don't fit your need, you can use a
  [custom buildpack](/buildpacks/custom).

  # Specify a precise buildpack

  In some cases, your application may be detected by two different buildpacks, for instance if you
  are building a PHP application which manages its dependencies with `grunt` tasks, `bower` or `gulp`,
  your application will be detected as a NodeJS application and as a PHP application.

  In this situation you need to specify the buildpack you want to use by defining the environment variable:

  ```
  BUILDPACK_NAME=php
  ```

